################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZarzadzaniePracownikami/bin/Debug
/ZarzadzaniePracownikami
/FinanseFirma
